<!doctype html>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<body style="background-color:black;">


{% if name %}
  <!--<script type="text/javascript" src="static/js/sketch.js"></script>-->

  <center>
  <div id='myContainer'></div>
  </center>

  <script>
  function setup() {
    let myCanvas = createCanvas(1000, 1000);
    myCanvas.parent('myContainer');
    background(0)
  }


  $(document).ready(function(){
      //connect to the socket server.
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

      //receive details from server
      socket.on('textoutput', function(msg) {
          console.log("Received text" + msg.text);
          text(msg.text, msg.number_1, msg.number_2);
          fill(250, 250, 250);
          var audio = new Audio('https://interactive-examples.mdn.mozilla.net/media/examples/t-rex-roar.mp3');
          audio.play();
          var recent = msg.text
      });
  });

  function draw() {
    textFont('Georgia');
  }

  </script>
{% endif %}